/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */

 body {
   background-color: #FFFFFF;
   background-image: url('background.jpg');
   background-size: cover;
   background-attachment: fixed;
 }

.content-wrapper {
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  background-color: #E0E3ED;
  padding-left: 20px;
  padding-right: 20px;
  border-left: 1px solid #000000;
  border-right: 1px solid #000000;
  overflow: scroll;
  height: 100vh;
  padding-bottom: 60px;
}

.form-field {
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
}

.top-bar {
  margin-right: 0%;
  background-color: #54B398;
}

.top-bar-section li:not(.has-form) a:not(.button) {
  background: #54B398;
  line-height: 2.8125rem;
  padding: 0 0.9375rem;
  height: 45px;
 }

.top-bar-section li:not(.has-form) a:not(.button):hover {
  background-color: #6BD5B1;
  height: 45px;
}
