.flashcard-app {
  background-color: rgba(230,230,255,0.8);
  border: 1px solid #000000;
  height: 100vh;
}

.flashcard {
  height: 50vh;
  width: 40%;
  margin-top: 40px;
  margin-left: 30%;
  margin-right: 30%;
  border: 1px solid #000000;
  border-radius: 20px;
  overflow: scroll;
  background-color: rgba(255,255,255,0.9);
  text-align: center;
}

.flashcard-navigation-centerize {
  width: 20%;
  margin-left: 40%;
  margin-right: 40%;
}

#answer-button{
  width: 175px;
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 20px;
  float: left;
}

#arrow {
  background-size: contain;
  background-color: #FFFFFF;
  border-radius: 5px;
  color: #3A8BB6;
}

#arrow:hover {
  color: #007095;
  cursor: pointer;
}

.arrows {
  float: left;
}

.flashcard-app h2{
  text-align: center;
}

.flashcard-app h3{
  text-align: center;
}

.author {
 float: right;
 margin-top: 22vh;
 margin-right: 2vh;
}
