.front-page-deck {
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  border: 1px solid #000000;
  margin-top: 10px;
  overflow: hidden;
  padding-top: 25px;
}

.flashcard-total {
  float: right;
  margin-right: 10px;
}

.centering-deck-tiles {
  width: 95%;
  margin-left: 2.5%;
  margin-right: 2.5%;
}
